name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo $PATH
        node -v
        npm -v
        python --version
        java -version
        go version
        mvn -version
        docker version
        docker-compose -v
